[submodule "vendor/AlphaEdit"]
	path = vendor/AlphaEdit
	url = https://github.com/jianghoucheng/AlphaEdit.git
[submodule "vendor/OTE-SE-Alignment"]
	path = vendor/OTE-SE-Alignment
	url = https://github.com/Wangzzzzzzzz/OTE-SE-Alignment
